
<router-outlet></router-outlet>
<footer class="grid xsm:grid-cols-1 sm:grid-cols-1  md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-10 bg-gray-200 p-10">
  <section class="mb-10">
    <h1 class="text-3xl">Social Media</h1>
    <ul>
      <li class="list-none mt-5"><a class="underline hover:text-blue-800 text-blue-500" href="#">Facebook</a></li>
      <li class="list-none mt-5"><a class="underline hover:text-blue-800 text-blue-500" href="#">Twitter</a></li>
      <li class="list-none mt-5"><a class="underline hover:text-blue-800 text-blue-500" href="#">TikTok</a></li>
    </ul>
  </section>
  <section class="mb-10">
    <h1 class="text-3xl">About Us</h1>
    <ul>
      <li class="list-none mt-5"><a class="underline hover:text-blue-800 text-blue-500" href="#">Mision</a></li>
      <li class="list-none mt-5"><a class="underline hover:text-blue-800 text-blue-500" href="#">Vision</a></li>
      <li class="list-none mt-5"><a class="underline hover:text-blue-800 text-blue-500" href="#">Nuestro Blog</a></li>
    </ul>
  </section>
  <section class="mb-10">
    <h1 class="text-3xl">Personal Data</h1>
    <div class="grid grid-cols-2 mt-5">
      <strong>Materia</strong>
      <span>Programacion Integrativa de Componentes Web</span>
    </div>
    <div class="grid grid-cols-2 mt-5">
      <strong>Realizado Por</strong>
      <span>Danny Pacheco</span>
    </div>
    <div class="grid grid-cols-2 mt-5">
      <strong>Fecha</strong>
      <span>30/08/2022</span>
    </div>
  </section>
</footer>
